<!DOCTYPE html>
<html ng-app="App">
<head>
    
    <script src="../LibJS/angular.min.js"></script>
    <script src="../LibJS/jquery-2.1.1.min.js"></script>
    <script src="../LibJS/bootstrap.min.js"></script>
    <link href="../LibJS/bootstrap.min.css" rel="stylesheet" />
    <script src="faqController.js"></script>
    <link href="../../Content/Custom/MainSheet2.css" rel="stylesheet" />
    <link href="../../Content/Custom/customNav2.css" rel="stylesheet" />
    <script type="text/javascript">
        $('#accordion').on('show.bs.collapse', function () {
            $('#accordion .in').collapse('hide');
        });
    </script>

    <title></title>
</head>
<body>

    <div ng-controller="faqController">
        <div class="container banner">
            <div class="navbar navbar-inner" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <img src="../../Content/img/snublevann.png" id="logo" width="230" height="96" style="margin-top: 20px; margin-left: 20px" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="row panel" style="padding-left: 0px; padding-right: 0px; margin-left:0px; margin-right:0px; margin-bottom: 0px">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="pull-left">

                                                <div class="row">
                                                    <button class="btn btn-primary" id="primaryButton" ng-click="visFaqsFunction()" ng-show="visFaqKnapp" style="min-width:83px">Se FAQ</button>
                                                    <div ng-show="visKategoriPanel" class="btn-group" ng-repeat="cat in cats">
                                                        <button class="btn btn-default" id="defaultButton" ng-click="visKategoriFunction(cat.id)">{{cat.name}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary pull-right" style="margin-left:5px" id="primaryButton" ng-click="visSkjemaFunction()" ng-show="sendKnapp">Spør oss</button>
                                            <button class="btn btn-primary pull-right" id="primaryButton" ng-click="hentUbesvarte()" ng-show="visInnsendteKnapp">Vis innsendte spørsmål</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="visKategoriPanel" style="padding-left: 0px; padding-top:0px; padding-right: 0px; margin-left:0px; margin-right:0px; margin-bottom: 0px">
                                <div class="col-sm-12 col-md-12">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subcontent">
            <div class="container">
            </div>
        </div>
        <div class="botcontent">
            <div class="container">
            </div>
        </div>
        <div class="midcontent">
            <div class="container">
                <div class="jumbotron" style="padding-top: 2px">

                    <div class="row">

                        <div class="page-header text-center"><h2>Frequently asked questions</h2></div>




                        <div class="row">
                            <div class="text-center" ng-show="laster">
                                <h3>Laster FAQ, vennligst vent ...</h3><
                                /><h5>(Dette kan ta en stund første gang man kjører.)</h5>
                            </div>
                            <!-- <div class="col-sm-12 col-md-12" ng-show="visFaqs">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tittel</th>
                                            <th>Spørsmål</th>
                                            <th>Svar</th>
                                            <th>Kategori</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="katfaqs in faqs">
                                        <tr>
                                            <td>{{katfaqs.id}}</td>
                                            <td>{{katfaqs.title}}</td>
                                            <td>{{katfaqs.question}}</td>
                                            <td>{{katfaqs.answer}}</td>
                                            <td>{{katfaqs.category}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                            <div class="col-sm-12 col-md-12" ng-show="visFaqs">
                                <div class="panel-group" id="accordion">
                                    <div ng-repeat="faq in faqs">
                                        <div class="panel panel-default">

                                            <a data-toggle="collapse" data-parent="#accordion"     data-target="#{{$index}}"
                                               href="#collapse">
                                                <div class="panel-heading" style="background-color:#f8f8f8">
                                                    <h4 class="panel-title">
                                                        {{faq.question}}
                                                    </h4>
                                                </div>
                                            </a>


 <div id="{{$index}}" class="panel-collapse collapse">
     <div class="panel-body">
         <label id="smallGray">{{faq.category}}</label><button class="btn btn-default btn-xs pull-right" id="defaultButton" style="border:0px;" ng-click="visDetaljerFunction(faq.id)" ng-show="detaljer">Les mer</button>
         <br />
         {{faq.answer}}

     </div>
 </div>
</div>
</div>
</div>
</div>
<div class="col-sm-12 col-md-12" ng-show="visKategoriFaqs">
    <div class="panel-group" id="accordion">

        <div ng-repeat="faq in katfaqs">

            <div class="panel panel-default">
                <a data-toggle="collapse" data-target="#{{$index}}"
    href="#collapse">
     <div class="panel-heading" style="background-color:#f8f8f8">
         <h4 class="panel-title">
             {{faq.question}}
         </h4>
     </div>
 </a>
 <div id="{{$index}}" class="panel-collapse collapse">
     <div class="panel-body">
         <label id="smallGray">{{faq.category}}</label>
         <br />
         {{faq.answer}}
     </div>
 </div>
</div>
</div>
</div>
</div>
<div class="col-md-12 col-sm-12" ng-show="visDetaljer">
    <div class="panel panel-heading" style="padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px" ng-show="visDetaljer">

        <label id="smallGray">Spørsmål#{{faqdetaljer.id}}</label><br />
        <h3>{{faqdetaljer.title}}</h3>
        <blockquote>
            <h4>{{faqdetaljer.question}}</h4>
            <footer><cite title="answer">{{faqdetaljer.answer}}</cite></footer>
        </blockquote>
    </div>
</div>
<div class="col-md-12 col-sm-12" ng-show="visUbesvarte">
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>E-post</th>
                <th>Tittel</th>
                <th>Spørsmål</th>
                <th>Svar</th>
                <th>Kategori</th>
            </tr>
        </thead>
        <tbody ng-repeat="ubesvart in ubesvarte">
            <tr>
                <td>{{ubesvart.id}}</td>
                <td>{{ubesvart.name}}</td>
                <td>{{ubesvart.epost}}</td>
                <td>{{ubesvart.title}}</td>
                <td>{{ubesvart.question}}</td>
                <td><small>Mangler svar</small></td>
                <td>{{ubesvart.category}}</td>
            </tr>
        </tbody>
    </table>
</div>

</div>
<div class="panel panel-heading" style="padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px" ng-show="visSkjema">
    <div class="row">
        <form name="skjema">
            <div class="col-sm-4 col-md-4" ng-show="visSkjema">

                <div class="form-group">
                    <label>Navn</label>
                    <input class="form-control" name="navn" ng-model="navn" ng-required="true" ng-pattern="/^[a-zæøåA-ZÆØÅ. \-]{2,30}$/" />
                    <p class="label label-info" ng-show="skjema.navn.$invalid && skjema.navn.$dirty">Skriv inn et lovlig navn</p>
                </div>
                <div class="form-group">
                    <label>E-post</label>
                    <input class="form-control" name="epost" ng-model="epost" ng-required="true" ng-pattern="/^[a-zøæåA-ZØÆÅ0-9.@\-]{2,30}$/" />
                    <p class="label label-info" ng-show="skjema.epost.$invalid && skjema.epost.$dirty">Skriv inn en lovlig e-post</p>
                </div>
                <div class="alert alert-info">
                    <div class="form-inline">
                        <label class="control-label">
                            Kategori
                        </label>
                        <div ng-repeat="cat in cats">
                            <label class="radio">
                                <input value="{{$index}}" name="kategori" ng-model="kategori" type="radio">  {{cat.name}}
                            </label>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="leggTilFaq()" ng-disabled="skjema.$invalid" ng-show="send">Send inn</button>
                </div>
            </div>
            <div class="col-sm-4 col-md-4" ng-show="visSkjema">
                <label>Spørsmål</label>
                <textarea class="form-control" rows="17" name="sporsmal" ng-model="sporsmal" ng-required="true" style="resize: none" ng-pattern="/^[a-zøæåA-ZØÆÅ. \-]{2,30}$/" />
                <p class="label label-info" ng-show="skjema.sporsmal.$invalid && skjema.spormal.$dirty">Skriv inn ditt spørsmål</p>
            </div>
        </form>
    </div>
</div>

</div>
</div>
</div>
</div>

</div>
</body>
</html>
