<!DOCTYPE html>
<html ng-app="App">
<head>


    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../LibJS/angular.min.js"></script>
    <script src="../LibJS/jquery-2.1.1.min.js"></script>
    <script src="../LibJS/bootstrap.min.js"></script>
    <link href="../LibJS/bootstrap.min.css" rel="stylesheet" />
    <script src="faqController.js"></script>
    <link href="../../Content/Custom/MainSheet2.css" rel="stylesheet" />
    <link href="../../Content/Custom/customNav2.css" rel="stylesheet" />

    <title></title>
</head>
<body>

    <div ng-controller="faqController">
        <div class="container banner">
            <div class="navbar navbar-inner" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <a href="index.html"><img src="../../Content/img/snublevann.png" id="logo" width="230" height="96" style="margin-top: 20px; margin-left: 20px" /></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="row panel" style="padding-left: 0px; padding-right: 0px; margin-left:0px; margin-right:0px; margin-bottom: 0px">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="pull-left">

                                                <div class="row">
                                                    <button class="btn btn-primary" id="primaryButton" ng-click="visFaqsFunction()" ng-show="visFaqKnapp">FAQ</button>
                                                    <div ng-show="visKategoriPanel" class="btn-group" ng-repeat="cat in cats">
                                                        <button class="btn btn-default" id="defaultButton" ng-click="visKategoriFunction(cat.id)">{{cat.name}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary pull-right" style="margin-left:5px" id="primaryButton" ng-click="visSkjemaFunction()" ng-show="sendKnapp">Spør oss <span class="glyphicon glyphicon-question-sign"></span></button>
                                            <button class="btn btn-primary pull-right" id="primaryButton" ng-click="hentUbesvarte()" ng-show="visInnsendteKnapp">Vis innsendte spørsmål</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="visKategoriPanel" style="padding-left: 0px; padding-top:0px; padding-right: 0px; margin-left:0px; margin-right:0px; margin-bottom: 0px">
                                <div class="col-sm-12 col-md-12">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subcontent">
            <div class="container">
            </div>
        </div>
        <div class="botcontent">
            <div class="container">
            </div>
        </div>
        <div class="midcontent">
            <div class="container">
                <div class="jumbotron" style="padding-top: 2px">

                    <div class="row">

                        <div class="page-header" ng-show="headerFaq" style="margin-bottom: 0px"><h2>Ofte stilte spørsmål (FAQ)</h2></div>
                        <div class="page-header" ng-show="headerUbesvarte" style="margin-bottom: 0px"><h2>Alle innsendte spørsmål</h2></div>
                        <div class="page-header" ng-show="headerSpor" style="margin-bottom: 0px"><h2>Spør oss  <span class="glyphicon glyphicon-question-sign"></span></h2></div>
                        <div class="page-header" ng-show="headerTakk" style="margin-bottom: 0px"><h2>Takk for spørsmålet!</h2></div>





                        <div class="row">
                            <div class="text-center" ng-show="laster">
                                <h3>Laster FAQ, vennligst vent ...</h3>
                                <h5>(Dette kan ta en stund første gang man kjører.)</h5>
                            </div>

                          

                            <div class="col-sm-12 col-md-12" ng-show="visFaqs">
                                <hr style="background-color:#d7d7d7; height: 1px" />
                                <div class="panel-group" id="accordion">
                                    <div ng-repeat="faq in faqs |  orderBy:'-frequency'| limitTo: 8">
                                        <div class="panel panel-default">

                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#{{$index}}"
                                               href="#collapse">
                                                <div class="panel-heading" style="background-color:#f8f8f8">
                                                    <h4 class="panel-title">
                                                        {{faq.question}}
                                                    </h4>
                                                </div>
                                            </a>


                                            <div id="{{$index}}" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <label id="smallGray">{{faq.category}}</label><button class="btn btn-default btn-xs pull-right" id="defaultButton" style="border:0px;" ng-click="visDetaljerFunction(faq.id)" ng-show="detaljer">Les mer</button>
                                                    <br />
                                                    <button class="btn btn-default pull-right" id="defaultButtonGreen" style="font-size: 16px" ng-click="like(faq.id)"><span class="glyphicon glyphicon-thumbs-up"></span> {{faq.frequency}}</button>
                                                    <div>
                                                         {{faq.answer}}
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12" ng-show="visDetaljer">
                                <div class="panel panel-heading" style="padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px; margin-top:60px" ng-show="visDetaljer">

                                    <label id="smallGray">Spørsmål#{{faqdetaljer.id}}</label><br />
                                    <button class="btn btn-default pull-right" id="defaultButtonGreen" style="font-size: 16px" ng-click="like(faqdetaljer.id)"><span class="glyphicon glyphicon-thumbs-up"></span> {{faqdetaljer.frequency}}</button>
                                    <h3>{{faqdetaljer.title}}</h3>
                                    <blockquote>
                                        <h4>{{faqdetaljer.question}}</h4>
                                        <footer><cite title="answer">{{faqdetaljer.answer}}</cite></footer>
                                    </blockquote>
                                </div>
                                <a href="index.html">Tilbake</a>
                            </div>
                            <div class="col-sm-12 col-md-12" ng-show="visKategoriFaqs">
                                <hr style="background-color:#d7d7d7; height: 1px" />
                                <div ng-repeat="faq in katfaqs|limitTo:1">
                                    <h3>{{faq.category}}</h3>
                                </div>
                                    <div class="panel-group" id="accordion">
                                        <div ng-repeat="faq in katfaqs |  orderBy:'-frequency'| limitTo: 8">
                                                <div class="panel panel-default">
                                                    <a data-toggle="collapse" data-parent="accordion" data-target="#{{$index + 1000}}"
                                                       href="#collapse">
                                                        <div class="panel-heading" style="background-color:#f8f8f8">

                                                            <h4 class="panel-title">
                                                                {{faq.question}}
                                                            </h4>
                                                        </div>
                                                    </a>
                                                    <div id="{{$index + 1000}}" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <label id="smallGray">{{faq.category}}</label><button class="btn btn-default btn-xs pull-right" id="defaultButton" style="border:0px;" ng-click="visDetaljerFunction(faq.id)" ng-show="detaljer">Les mer</button>
                                                            <br />
                                                            <button class="btn btn-default pull-right" id="defaultButtonGreen" style="font-size: 16px" ng-click="like(faq.id)"><span class="glyphicon glyphicon-thumbs-up"></span> {{faq.frequency}}</button>

                                                             <div>
                                                            {{faq.answer}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            <div class="col-sm-12 col-md-12" ng-show="visTakk">
                                <hr style="background-color:#d7d7d7; height: 1px" />
                                Vi har for tiden stor pågang, men vil svare deg så fort som mulig på eposten du oppga
                                <br />
                                <br />
                                <a href="index.html"><b>Tilbake</b></a>
                            </div>


                            <div class="col-md-12 col-sm-12" ng-show="visUbesvarte">
                                <hr style="background-color:#d7d7d7; height: 1px" />
                                <table class="table  panel panel-default">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Navn</th>
                                            <th>E-post</th>
                                            <th>Tittel</th>
                                            <th>Spørsmål</th>
                                            <th>Svar</th>
                                            <th>Kategori</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="ubesvart in ubesvarte">
                                        <tr class="rows">
                                            <td>{{ubesvart.id}}</td>
                                            <td>{{ubesvart.name}}</td>
                                            <td>{{ubesvart.epost}}</td>
                                            <td>{{ubesvart.title}}</td>
                                            <td>{{ubesvart.question}}</td>
                                            <td><small>Mangler svar</small></td>
                                            <td>{{ubesvart.category}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12 col-md-12 panel panel-heading" style="padding-top:20px; padding-bottom:20px; padding-left:20px; padding-right:20px" ng-show="visSporreSkjema">
                                    <form name="skjema">
                                        <div class="col-sm-4 col-md-4">

                                            <div class="form-group">
                                                <label>Navn</label>
                                                <input class="form-control" name="name" ng-model="name" ng-required="true" ng-pattern="/^[a-zæøåA-ZÆØÅ. \-]{3,30}$/" />
                                                <small class="label label-info" ng-show="skjema.name.$invalid && skjema.name.$dirty">Skriv inn et lovlig navn</small>
                                            </div>
                                            <div class="form-group">
                                                <label>E-post</label>
                                                <input class="form-control" type="email" name="epost" ng-model="epost" ng-required="true" ng-pattern="/^[a-zøæåA-ZØÆÅ0-9.@\-_]{4,30}$/" />
                                                <small class="label label-info" ng-show="skjema.epost.$invalid && skjema.epost.$dirty">Skriv inn en lovlig e-post</small>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-inline">
                                                    <label class="control-label">
                                                        Kategori
                                                    </label>
                                                    <select class="form-control" style="width:100%" ng-options="cat.id as cat.name for cat in cats" required name="category" ng-model="category"></select>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary" ng-click="leggTilFaq()" ng-disabled="skjema.$invalid" ng-show="send">Send inn</button>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-md-4"">

                                            <label>Title</label>
                                            <input class="form-control" name="title" ng-model="title" ng-required="true" ng-pattern="/^[a-zæøåA-ZÆØÅ. \-]{2,30}$/" />
                                            <small class="label label-info" ng-show="skjema.title.$invalid && skjema.title.$dirty">Skriv inn en passende tittel</small>
                                            <label>Spørsmål <small>(20-200 tegn)</small></label>
                                            <textarea class="form-control" rows="7" name="question" ng-model="question" ng-required="true" ng-minlength="20" ng-maxlength="200" style="resize: none" />
                                            <small class="label label-info" ng-show="skjema.sporsmal.$invalid && skjema.spormal.$dirty">Skriv inn ditt spørsmål(20-200 tegn)</small>
                                        </div>

                                    </form>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
